.Input {
  height: 25px;
  border-radius: 18px;
  border: solid 5px #333333;
  background-color: #333333;
}

.Input {
  opacity: 0.6;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: rgba(247, 247, 247, 0.5);
}

@media only screen and (max-width: 600px) {
  .searchContainer {
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .searchContainer {
    display: none;
  }
}
