.menu-Container li {
  list-style-type: none;
  height: 23px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.menu-Container ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu-Container {
  border: solid 1px #707070;
  background-color: #3a3a3a;
}

@media only screen and (max-width: 600px) {
  .menu-Container li {
    display: none;
  }
}
