.LOGO {
  display: inline-block;
  width: 99px;
  height: 44px;
  font-family: LaoMN;
  font-size: 33px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #e39725;
  padding-bottom: 31px;
  padding-right: 20px;
}

.sidenav {
  width: 249px;
  height: 100%;
  float: left;
  position: fixed;
  z-index: 1;
  background-color: #333333;
  top: 0;
  left: 0;
  background-color: #333333;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #e39725;
}

.nav-header {
  margin-left: 15%;
  height: 200px;
}
.side-bar-wrapper {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}
.header-img {
  width: 100%;
  height: auto;
}

.header-ad {
  margin-top: 50px;
  max-width: 800px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
  }
}
